body {
  font-family: tahoma;
  background-color: #333;
  margin: 0;
}

.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1ede7;
  padding: 0 20px;
}

.logo {
  height: 56px;
  width: 153px;
  padding: 10px 0;
}

.nav-links {
  font-weight: bold;
  display: flex;
  gap: 30px;
}

.nav-links a {
  color: #333;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 1.5em;
  font-weight: bold;
}

.nav-links a:hover {
  background-color: #6bffc9;
  color: #333;
  outline: 4px solid #333;
  transform: scale(1);
}

footer {
  text-align: center;
  color: #f1ede7;
  padding: 20px;
  background-color: #222;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
