.title {
  color: #f1ede7;
  text-align: center;
  font-size: 2.5em;
  font-weight: bold;
  white-space: pre-line;
  line-height: 0.7;
  margin: 40px;
}

.search-term-container,
.location-container {
  display: flex;
  flex-direction: column;
  align-items: center;  
  margin: 20px auto;  
}

#tip {
  font-size: 12px;
  color: #f1ede7;
  text-align: center;
}

input {
  background-color: #f1ede7;
  border-radius: 6px;
  box-shadow: 
    0 0 0 0.5px #333,
    0 0 0 1px #f1ede7;

  padding: 8px;
  font-size: 1em;
  margin-top: 10px;
}

button {
  margin-top: 10px;
  padding: 8px 12px;
  font-size: 1em;
  cursor: pointer;
}

.date-range-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
}

.date-range-container label {
  color: #f1ede7;
}

.date-range-container input {
  width: 50px;
}

.enter-search {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

#search-button {
  background-color: #6bffc9;
  color: #333;
  border: none;
  padding: 15px 40px;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  border-radius: 8px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

#search-button:hover {
  outline: 2px solid transparent;
  box-shadow: 
    0 0 0 4px #333,
    0 0 0 8px #f1ede7;
}

