body {
    font-family: Tahoma;
    color: #eaeaea;
    background: #333;
    margin: 0;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #ff7f36;
    padding: 15px;
    overflow-y: auto;
    border-right: 1px solid #333;
    color: #333;

}

.sidebar h2 {
    margin-top: 0;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    padding: 8px;
    cursor: pointer;
    border-bottom: 1px solid #000000;
}

.sidebar li:hover {
    background-color: #ffc8a8;
}

.preview {
    flex-grow: 1;
    padding: 20px;
}

.center-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px;
}

.button-row {
    display: flex;
    gap: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: 4px solid #333;
    border-radius: 10px;
    background-color: #eaeaea;
}

button:hover {
    background-color: #ffc8a8;
}

.jack {
    width: 300px;
    height: 300px;
    border: 4px solid #eaeaea;
    border-radius: 10px;

}

.jack img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
